.background {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.class-selector{
  padding-bottom: 5px;
  display: inline-block;
}
.archetype-table {
  background: lightgrey;
  color: black;
  border-width: 5px;
  border-color: lightgrey;
  border-style: inset;
}
tr,td,th {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  border-color: black;
  color: black;
}
.title {
  position: relative;
  width: 600px;
  padding: 10px;
}
.unselectable-archetypes{
  background-color: brown;
}
.hide{
  display: none;
}
